.header-container {
  background-image: url('../images/download.png');
  height: 5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container > h1 {
  font-family: 'Shadows into light', sans-serif;
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.header-container > a {
  text-decoration: none;
  font-size: 0.75rem;
  color: black;
  cursor: pointer;
  font-family: sans-serif;
}

#new-button {
  padding: 0.4rem 0.75rem;
  text-decoration: none;
  border: black;
  font-weight: bold;
  border-radius: 5%;
  background-color: rgb(229, 66, 164);
  color: white;
  font-size: 1rem;
}

.column-full > h1 {
  margin-left: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
  font-family: 'shadows into light', sans-serif;
}

img {
  width: 20rem;
  display: block;
  margin: 0.5rem auto;
}

label {
  display: block;
  margin-top: 5%;
  margin-bottom: 0.3rem;
  font-weight: bold;
  margin-left: 1rem;
}

input,
textarea {
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.stars {
  margin-left: 2.25rem;
  cursor: pointer;
}

input {
  height: 30px;
  border-width: thin;
}

button {
  display: block;
  background-color: rgb(229, 66, 164);
  color: white;
  border-radius: 10%;
  float: right;
  padding: 0.4rem 0.75rem;
  margin-top: 3%;
  margin-right: 1rem;
  cursor: pointer;
}

.reviews-message {
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
}

.reviews-header {
  font-family: 'Shadows into light', sans-serif;
  margin-left: 0.75rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.reviews {
  text-align: center;
}

ul {
  list-style-type: none;
}

.yes {
  display: none;
}

h3,
h4 {
  margin-top: 2px;
  margin-bottom: 5px;
  color: rgb(255, 86, 190);
}

p {
  margin-bottom: 4rem;
}

i {
  color: rgb(255, 86, 190);
}

#search {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg');
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-position-y: center;
  width: 70%;
  padding-left: 40px;
}

.homeSearch {
  display: flex;
  justify-content: center;
  font-family: 'Shadows into light', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.fa-pencil {
  color: rgb(255, 86, 190);
  float: right;
}

#search-button {
  margin-right: 3rem;
}

.delete-button {
  color: red;
  margin-top: 1.5rem;
  display: block;
  text-align: left;
  margin-left: 1rem;
}

.dismiss-modal {
  float: left;
  background-color: gray;
}

.delete-review {
  float: right;
  background-color: red;
}

#results-container > img {
  margin-bottom: 4rem;
}

.navigate-new > p {
  margin-left: -6rem;
  margin-bottom: 7rem;
}

#results-container > p {
  text-align: center;
}

.search-reviews-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#search-reviews {
  width: 12rem;
  margin-right: 1rem;
}

.navigate-new {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.navigate-new > a {
  margin-left: -12rem;
}
